[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
pillow = "*"
django-allauth = "*"
django-filter = "*"
django-countries = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.8"
