[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
mkdocs = "*"
pillow = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
django-allauth = "*"


[requires]
python_version = "3.7"
