name: Musaeum Backen app

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        cd server
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Setup test env
      run: |
        cd server
        mv musaeum_project/secret_example.py musaeum_project/secret.py

    - name: Run migrations
      run: |
        pwd
        python manage.py migrate

    - name: Run tests
      run: python manage.py test
